@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Pokedex</h1>
</div>

<div class="container text-center">
    <!-- foreach loop to loop through each pokemon from database and place in a col -->
    <div class="row">
        <!-- four cols per row -->
        @foreach(var pokemon in Model.Pokemons)
        {
            <div class="col">
                <!-- TODO: make card data dynamic -->
                <div class="card" style="width: 18rem;">
                    <a asp-page="/Pokemon" asp-route-name="@pokemon.Name"><img src="@Url.Content(pokemon.Sprites.Sprite.Art.Image)" class="card-img-top" alt="@pokemon.Name"></a>
                    <div class="card-body">
                        <h5 class="card-title">@pokemon.Name</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">#@pokemon.Id</h6>
                        @foreach (var typeObj in pokemon.Types)
                        {
                            <p class="badge bg-black">@typeObj.Type.Name</p>
                        }
                        
                    </div>
                </div>
            </div>
        }
        <!-- End of row -->
    </div>
</div>